Main_dataset/
output_images/
output_images-1/
temp/predict28/
temp/predict29/
temp/predict30/
temp/predict31/
temp/predict32/
temp/predict33/
temp/predict34/
YoloV8-FT_box_output/
YoloV8-FT_dot_output/
YoloV8-FT_star_output/
YoloV8-FT_Star_red_output/
call.py
YoloV8-FT_box_output.zip
YoloV8-FT_dot_output.zip
YoloV8-FT_star_output.zip